<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal.mapper.TFunctionMapper">
    <resultMap id="BaseResultMap" type="personal.entity.TFunction">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, code, pid, remark, url
    </sql>
    <insert id="insert" parameterType="personal.entity.TFunction">
        insert into base_function
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            code,
            pid,
            <if test="remark != null">
                remark,
            </if>
            url,
        </trim>
        <trim prefix="select " suffix=" from dual" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            #{code,jdbcType=VARCHAR},
            #{pid,jdbcType=BIGINT},
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
        <!-- id, code, url 不允许重复 -->
        where (select count(*) from base_function where id = #{id,jdbcType=BIGINT} or code = #{code,jdbcType=VARCHAR} or url = #{url,jdbcType=VARCHAR})=0
    </insert>

    <delete id="deleteBatchInId">
        delete from base_function where id in (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>)
    </delete>

    <delete id="deleteInId">
        delete from base_function where id = #{id}
    </delete>

    <update id="update" parameterType="personal.entity.TFunction">
        update base_group
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getInId" resultType="personal.entity.TFunction">
        select
        <include refid="Base_Column_List"/>
        from base_function where id = #{id}
    </select>

    <select id="listInIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_function where id in (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>)
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_function
    </select>
</mapper>