<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal.mapper.TPermissionHtmlMapper">
    <resultMap id="BaseResultMap" type="personal.entity.TPermissionHtml">
        <result column="permission_id" jdbcType="BIGINT" property="permissionId"/>
        <result column="html_id" jdbcType="BIGINT" property="htmlId"/>
    </resultMap>

</mapper>