<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal.mapper.TResourceMapper">
    <resultMap id="BaseResultMap" type="personal.entity.TResource">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, type, path
    </sql>

    <insert id="insert" parameterType="personal.entity.TResource">
        insert into base_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            name,
            <if test="remark != null">
                remark,
            </if>
            path,
        </trim>
        <trim prefix="select " suffix=" from dual" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            #{name,jdbcType=VARCHAR},
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            path,
        </trim>
        <!-- id 不允许重复 -->
        where (select count(*) from base_resource where id = #{id,jdbcType=BIGINT})=0
    </insert>

    <delete id="deleteBatchInId">
        delete from base_resource where id in (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>)
    </delete>

    <delete id="deleteInId">
        delete from base_resource where id = #{id}
    </delete>

    <update id="update" parameterType="personal.entity.TResource">
        update base_resource
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getInId" resultType="personal.entity.TGroup">
        select
        <include refid="Base_Column_List"/>
        from base_resource where id = #{id}
    </select>

    <select id="listInIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_resource where id in (
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>)
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_resource
    </select>
</mapper>