<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal.mapper.TUserGroupMapper">
    <resultMap id="BaseResultMap" type="personal.entity.TUserGroup">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
    </resultMap>
    <insert id="insert" parameterType="personal.entity.TUserRole">
        insert into base_user_group (user_id, group_id)
        select #{userId,jdbcType=VARCHAR}, #{groupId,jdbcType=BIGINT} from dual where (select count(*) from base_user_group
        where user_id=#{userId,jdbcType=VARCHAR} and group_id=#{groupId,jdbcType=BIGINT})=0
    </insert>

    <select id="getGroupByUser" resultType="java.util.Map">
        select ug.group_id,g.name from base_user_group ug, base_group g where ug.group_id=g.id and ug.user_id=#{id, jdbcType=VARCHAR}
    </select>

    <delete id="deleteByUserAndGroup">
        delete from base_user_group where user_id = #{user_id, jdbcType=VARCHAR} and group_id = #{group_id, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByUser">
        delete from base_user_group where user_id = #{user_id, jdbcType=VARCHAR}
    </delete>
</mapper>